._simple_slider {
    position: relative;
    overflow: hidden;

    img {
        max-width: 100%;
    }

    ._slide {
        will-change: transform;

        &:not(._active) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateX(100%);
            z-index: -1;
        }

        &._prev:not(._active) {
            transform: translateX(-100%);
        }

        &._sliding {
            transform: translateX(0%);
            transition: transform 1000ms ease-out;

            &._active {
                transform: translateX(-100%);
            }

            &._prev {
                transform: translateX(0%);

                &._active {
                    transform: translateX(100%);
                }
            }
        }
    }
}
