._simple_slider {
    position: relative;
    overflow: hidden;

    img {
        max-width: 100%;
    }

    ._slide {
        will-change: transform;
        transition: transform 1000ms ease-out;

        &:not(._active) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateX(100%);
        }

        &._sliding {
            transform: translateX(0%);

            &._active {
                transform: translateX(-100%);
            }
        }
    }
}